html, body {
  width: 100%;
  height: 100%;
}

.v_lo {
  display: flex;
  flex-direction: column;
}

.h_lo {
  display: flex;
  flex-direction: row;
}

#transposed_text_div > div {
  display: inline;
}

#title {
  font-size: 28pt;
  font-weight: bold;
}


.plaintext {
  font-size: 14pt;
  font-weight: normal;
  color: #000000;
}

.chord {
  font-size: 14pt;
  font-weight: bold;
  color: #ff0000;
}